#table {
    border-collapse: collapse; /* Убираем двойные границы между ячейками */
    
    border: 4px solid #000; /* Рамка вокруг таблицы */
   }
   td, th{
    padding: 5px; /* Поля вокруг текста */
    border: 2px solid, black /* Рамка вокруг ячеек */
   }
.weather-form-button2 {
    margin-left: 280px;
    margin-top: -20px;
}