table {
    border-collapse: collapse; /* Убираем двойные границы между ячейками */
  
   
   }
   td {
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid black; /* Рамка вокруг ячеек */
    width: 80px;
    text-align: left;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
   }
   
.weather-form-button2 {
    margin-left: 280px;
    margin-top: -20px
}
.aloha{
margin-top: 15px;
margin-bottom: 35px;

}